body.fixed-nav {
  padding-top: 50px;
}
#afw-template-modal-iframe .modal-dialog {
  height: 95%;
  padding: 0;
  width: 90%;
}
#afw-template-modal-iframe .modal-content {
  border-radius: 0;
  height: 95%;
}
#afw-template-modal-iframe iframe {
  border: 0;
  width: 100%;
}

#afw-full-screen {
  background: rgba(0 ,0, 0, 0.5);
  display: none;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
#afw-full-screen .outer {
  display: table;
  height: inherit;
  width: 100%;
}
#afw-full-screen .inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* Login Form Section */
#afw-login-screen {
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 9999;
}
#afw-login-screen .outer {
  display: table;
  height: inherit;
  width: 100%;
}
#afw-login-screen .inner {
  display: table-cell;
  text-align: center;
  vertical-align: top;
}
#afw-login-screen .login-form {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px rgba(102, 102, 102, 0.7);
  margin: 100px auto 0 auto;
  padding: 0 10px 0 10px;
  width: 620px;
}
#afw-login-screen .login-form label {
  display: inline-block;
  width: 150px;
}
#afw-login-screen .login-form .form-control {
  display: inline-block;
  width: 240px;
}
#afw-login-screen .login-form .buttons {
  text-align: center;
}
#afw-login-screen .login-form .buttons input {
  width: 100px;
}


/* Realtime Clock Section */
.afw-realtime-clock {
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}
.navbar {
  margin: 0;
}
.navbar-nav .afw-realtime-clock {
  display: block;
  line-height: 20px !important;
  padding: 15px 20px 15px 15px !important;
  position: relative;
}
.navbar-inverse .afw-realtime-clock {
  color: #9d9d9d;
}

/* Table Style Section */
.afw-table > tbody > tr.inactive > td,
.afw-table > tbody > tr.inactive > th,
.afw-table > tbody > tr > td.inactive,
.afw-table > tbody > tr > th.inactive,
.afw-table > tfoot > tr.inactive > td,
.afw-table > tfoot > tr.inactive > th,
.afw-table > tfoot > tr > td.inactive,
.afw-table > tfoot > tr > th.inactive,
.afw-table > thead > tr.inactive > td,
.afw-table > thead > tr.inactive > th,
.afw-table > thead > tr > td.inactive,
.afw-table > thead > tr > th.inactive {
  background: #ccc;
  color: #999;
}
.afw-table > tbody > tr.active > td,
.afw-table > tbody > tr.active > th,
.afw-table > tbody > tr > td.active,
.afw-table > tbody > tr > th.active,
.afw-table > tfoot > tr.active > td,
.afw-table > tfoot > tr.active > th,
.afw-table > tfoot > tr > td.active,
.afw-table > tfoot > tr > th.active,
.afw-table > thead > tr.active > td,
.afw-table > thead > tr.active > th,
.afw-table > thead > tr > td.active,
.afw-table > thead > tr > th.active {
  background: #fff;
}
.afw-table > tbody > tr.published > td,
.afw-table > tbody > tr.published > th,
.afw-table > tbody > tr > td.published,
.afw-table > tbody > tr > th.published,
.afw-table > tfoot > tr.published > td,
.afw-table > tfoot > tr.published > th,
.afw-table > tfoot > tr > td.published,
.afw-table > tfoot > tr > th.published,
.afw-table > thead > tr.published > td,
.afw-table > thead > tr.published > th,
.afw-table > thead > tr > td.published,
.afw-table > thead > tr > th.published {
  background: #fcf8e3;
  color: #8a6d3b;
}
.afw-table > tbody > tr.error > td,
.afw-table > tbody > tr.error > th,
.afw-table > tbody > tr > td.error,
.afw-table > tbody > tr > th.error,
.afw-table > tfoot > tr.error > td,
.afw-table > tfoot > tr.error > th,
.afw-table > tfoot > tr > td.error,
.afw-table > tfoot > tr > th.error,
.afw-table > thead > tr.error > td,
.afw-table > thead > tr.error > th,
.afw-table > thead > tr > td.error,
.afw-table > thead > tr > th.error {
  background: #f2dede;
  color: #a94442;
}
.afw-table th.id,
.afw-table th.text,
.afw-table th.number,
.afw-table th.date {
  text-align: left;
}
.afw-table th.term {
  text-align: center;
}
.afw-table th a.sort .arrow {
  background-repeat: no-repeat;
  background-position: middle center;
  display: inline-block;
  height: 1em;
  margin: 0 0 0 5px;
  width: 16px;
}
.afw-table .current a.asc .arrow {
  background-image: url(../images/sort_up_active.png);
}
.afw-table th a.asc:hover .arrow {
  background-image: url(../images/sort_down.png);
}
.afw-table .current a.desc .arrow {
  background-image: url(../images/sort_down_active.png);
}
.afw-table th a.desc:hover .arrow {
  background-image: url(../images/sort_up.png);
}
.afw-table td.id,
.afw-table td.text,
.afw-table td.date {
  text-align: left;
}
.afw-table td.number {
  text-align: right;
}
.afw-table td.term {
  text-align: center;
}

/* Select2 Style Section */
.select2-ajax-result {
  padding-bottom: 3px;
  padding-top: 4px;
}
.select2-ajax-result__avatar {
  float: left;
  margin-right: 10px;
  width: 50px;
}
.select2-ajax-result__avatar img {
  height: auto; border-radius: 2px;
  width: 100%;
}
.select2-ajax-result__meta {
  margin-left: 70px;
}
.select2-ajax-result__title {
  color: black;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 4px;
  word-wrap: break-word;
}
.select2-ajax-result__description {
  color: #777;
  font-size: 13px;
  margin-top: 4px;
}
.select2-results__option--highlighted .select2-ajax-result__title {
  color: white;
}
.select2-results__option--highlighted .select2-ajax-result__description {
  color: #c6dcef;
}

/* General Form Section */
.form-group.required .control-label:after { 
  content: "*";
  color: red;
}
.form-value {
  display: block;
}
.form-inline .form-value {
  display: inline;
}
.btn-wrapper,
.btn-wrapper-left {
  text-align: left;
}
.btn-wrapper-center {
  text-align: center;
}
.btn-wrapper-right {
  text-align: right;
}


/* Search Form Section */
.search-form {
  background: #eee;;
  border: 1px solid #ccc;
  padding: 10px 10px 10px 10px;
}
.search-form h4 {
  font-weight: bold;
  margin: 0 0 10px 0 !important;
}
.search-form ul {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}
.search-form ul > li {
  display: inline-block;
  margin: 0 0 10px 0 !important;
}
.search-form .keyword {
  width: 300px;
}
.search-form .buttons {
  display: block;
  text-align: right;
}

/* Image Assets Section */
.sprite,
.sprite-icons,
.sprite-logo {
  background-repeat: no-repeat;
}

.sprite-icon {
  background-image: url(../images/icons/sprite_icons.png);
  display: inline-block;
  height: 32px;
  overflow: hidden;
  width: 32px;
}
.sprite-icon-excel-upload {
  background-position: 0 0;
}
.sprite-icon-excel-download {
  background-position: 0 -40px;
}

.sprite-logo {
  background-image: url(../images/logo/sprite_symbol_mark.png);
  display: inline-block;
  height: 32px;
  overflow: hidden;
  width: 32px;
}
.sprite-logo-ios {
  background-position: 0 0;
}
.sprite-logo-appstore {
  background-position: 0 -40px;
}
.sprite-logo-android {
  background-position: -40px 0;
}
.sprite-logo-googleplay {
  background-position: -40px -40px;
}
.sprite-logo-windows {
  background-position: -80px 0;
}
.sprite-logo-microsoftstore {
  background-position: -80px -40px;
}


/* About Section */
#afw-template-modal-about .prod-name {
  text-align: center;
}
#afw-template-modal-about .logo {
  background: url(../images/logo.png) no-repeat;
  margin: 0 auto 10px auto;
  height: 116px;
  width: 300px;
}
