body {
  padding-top: 70px;
}
#afw-template-modal-iframe .modal-dialog {
  height: 95%;
  padding: 0;
  width: 90%;
}
#afw-template-modal-iframe .modal-content {
  border-radius: 0;
  height: 95%;
}
#afw-template-modal-iframe iframe {
  border: 0;
  width: 100%;
}

#afw-full-screen {
  background: rgba(0 ,0, 0, 0.5);
  display: none;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
#afw-full-screen .outer {
  display: table;
  height: inherit;
  width: 100%;
}
#afw-full-screen .inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* Realtime Clock Section */
.afw-realtime-clock {
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}
.navbar-nav .afw-realtime-clock {
  display: block;
  line-height: 20px !important;
  padding: 15px 15px 15px 15px !important;
  position: relative;
}

/* Table Style Section */
.table th.id,
.table th.text,
.table th.number,
.table th.date {
  text-align: left;
}
.table th.term {
  text-align: center;
}
.table th a.sort .arrow {
  background-repeat: no-repeat;
  background-position: middle center;
  display: inline-block;
  height: 1em;
  margin: 0 0 0 5px;
  width: 16px;
}
.table th.current a.asc .arrow {
  background-image: url(../images/sort_up_active.png);
}
.table th a.asc:hover .arrow {
  background-image: url(../images/sort_down.png);
}
.table th.current a.desc .arrow {
  background-image: url(../images/sort_down_active.png);
}
.table th a.desc:hover .arrow {
  background-image: url(../images/sort_up.png);
}
.table td.id,
.table td.text,
.table td.date {
  text-align: left;
}
.table td.number {
  text-align: right;
}
.table td.term {
  text-align: center;
}

/* Select2 Style Section */
.select2-ajax-result {
  padding-bottom: 3px;
  padding-top: 4px;
}
.select2-ajax-result__avatar {
  float: left;
  margin-right: 10px;
  width: 50px;
}
.select2-ajax-result__avatar img {
  height: auto; border-radius: 2px;
  width: 100%;
}
.select2-ajax-result__meta {
  margin-left: 70px;
}
.select2-ajax-result__title {
  color: black;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 4px;
  word-wrap: break-word;
}
.select2-ajax-result__description {
  color: #777;
  font-size: 13px;
  margin-top: 4px;
}
.select2-results__option--highlighted .select2-ajax-result__title {
  color: white;
}
.select2-results__option--highlighted .select2-ajax-result__description {
  color: #c6dcef;
}

/* Search Form Section */
.search-form {
  background: #eee;;
  border: 1px solid #ccc;
  padding: 10px 10px 10px 10px;
}
.search-form h4 {
  font-weight: bold;
  margin: 0 0 10px 0 !important;
}
.search-form ul {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}
.search-form ul > li {
  display: inline-block;
  margin: 0 0 10px 0 !important;
}
.search-form .buttons {
  display: block;
  text-align: right;
}

/* Image Assets Section */
.sprite,
.sprite-logo {
  background-repeat: no-repeat;
}
.sprite-logo {
  background-image: url(../images/logo/sprite_symbol_mark.png);
  display: inline-block;
  height: 32px;
  overflow: hidden;
  width: 32px;
}
.sprite-logo-ios {
  background-position: 0 0;
}
.sprite-logo-appstore {
  background-position: 0 -40px;
}
.sprite-logo-android {
  background-position: -40px 0;
}
.sprite-logo-googleplay {
  background-position: -40px -40px;
}
.sprite-logo-windows {
  background-position: -80px 0;
}
.sprite-logo-microsoftstore {
  background-position: -80px -40px;
}
