body {
  padding-top: 70px;
}
#afw-template-modal-iframe .modal-dialog {
  height: 95%;
  padding: 0;
  width: 90%;
}
#afw-template-modal-iframe .modal-content {
  border-radius: 0;
  height: 95%;
}
#afw-template-modal-iframe iframe {
  border: 0;
  width: 100%;
}

#afw-full-screen {
  background: rgba(0 ,0, 0, 0.5);
  display: none;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
#afw-full-screen .outer {
  display: table;
  height: inherit;
  width: 100%;
}
#afw-full-screen .inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.table th.id,
.table th.text,
.table th.number,
.table th.date {
  text-align: left;
}
.table th.term {
  text-align: center;
}

.table th a.sort .arrow {
  background-repeat: no-repeat;
  background-position: middle center;
  display: inline-block;
  height: 1em;
  margin: 0 0 0 5px;
  width: 16px;
}
.table th.current a.asc .arrow {
  background-image: url(../images/sort_up_active.png);
}
.table th a.asc:hover .arrow {
  background-image: url(../images/sort_down.png);
}
.table th.current a.desc .arrow {
  background-image: url(../images/sort_down_active.png);
}
.table th a.desc:hover .arrow {
  background-image: url(../images/sort_up.png);
}

.table td.id,
.table td.text,
.table td.date {
  text-align: left;
}
.table td.number {
  text-align: right;
}
.table td.term {
  text-align: center;
}

